{% extends 'base.html' %}

{% block container %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Blog Home Two
            <small>Subheading</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'posts' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Blog Home 2</li>
        </ol>

        <!-- Blog Post -->
        {% for post in posts %}
            <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.body|truncatechars:100 }}</p>
                        <a href="{% url 'posts-details' post.id %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">{{ post.userId }}</a>
            </div>
        </div>
        {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item" id="older" style="cursor: pointer">
                <a id="previous" class="page-link">&larr; Older</a>
            </li>
            <li class="page-item" id="newer">
                <a id="next" class="page-link" style="cursor: pointer">Newer &rarr;</a>
            </li>
        </ul>

    </div>
    <!-- /.container -->
{% endblock container %}

{% block custome_script %}
    <script>
        var urlParams = new URLSearchParams(window.location.search);
        console.log(urlParams.has('page'));
        if (urlParams.has('page')) {
            window.pageNumer = parseInt(urlParams.get('page'));
        } else {
            window.pageNumer = 1;
        }

        $(document).ready(function () {
            if (window.pageNumer > 24) {
                document.getElementById("older").classList.add("disabled");
            }
            if (window.pageNumer >= 1) {
                console.log("remove new");
                document.getElementById("newer").classList.remove("disabled");
            }

            if (window.pageNumer < 25) {
                document.getElementById("older").classList.remove("disabled");
            }
            if (window.pageNumer === 1) {
                document.getElementById("newer").classList.add("disabled");
            }
            $("#previous").click(function () {
                window.location.href = '/?page=' + (window.pageNumer + 1);
            })
            $("#next").click(function () {
                window.location.href = '/?page=' + (window.pageNumer - 1);
            })
        })
    </script>

{% endblock %}

