{% extends 'base.html' %}

{% block container %}
    <!-- Page Content -->
    <div class="container" style="min-height: 80vh;">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Login
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Login</li>
        </ol>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {% for key, value in form.errors.items %}
                            {{ value }}
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email*</label>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="control-group form-group">

                        <div class="controls">
                            <label>Password*</label>
                            {{ form.password }}
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock container %}

